html {
    background-color: rgba(0, 33, 181, 0.7);
}
body {
    padding: 0%;
    margin: 0%;
}

#outer {
    height : 100vh;
	width: 100%;
    display : flex;
    justify-content: center;
    align-items: center;
}

#inner {
    width: 100%;
    height: 100%;
}




form {
    height: 100%;
    justify-content: center;
    align-items: center;
    padding: 10%;
    padding-right: 5%;
    padding-left: 5%;
    background-image: linear-gradient(to bottom right, rgba(9, 26, 214, 0.591), rgba(135, 206, 250, 0.7)), url('programming.jpg');
    background-size: cover;
    background-position: center;
    backdrop-filter: blur(10px);
    color: black;
} 

#lname, #lpassword {
    margin-right: 10%;
}

#name, #password {
    border-style: none;
    max-width: 90%;
    padding: 5px;
}

#name:hover, #password:hover {
    border-style: solid;
    border-radius: 25px;
    max-width: 90%;
    padding: 10px;
}
a{
    padding-right: 10%;
    color: white;
}

a:hover{
    color: rgb(0, 64, 255);
}
a::after{
    color: red;
}

#formUrl {
    margin-top: 20%;
}

#formGroup {
    margin-top: 15%;
    margin-bottom: 10%;
    padding: 2%;
    border-radius: 10px;
    background-color: aliceblue;
}

.profile {
    width: 150px;
    height: 150px;
    border-radius: 50%; 
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgray; 
    border-color: rgb(0, 30, 255);
    transition: height 1s, width 1s;
    margin-bottom: 30%;
}



.profile:hover {
    height: 250px;
    width: 250px;
    border-radius: 50%;
    border-color: rgb(0, 30, 255);
    border-style: solid;
}

#button {
    height: 30px;
    width: 30%;
    border-radius: 25px;
    background-color: rgb(255, 255, 255);
    color: black;
    transition: width 1s;
}

#button:hover {
    width: 40%;
    border-radius: 5px;
    background-color: rgb(0, 0, 0);
    color: white;
}

.profile img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}
